body{
    font-family:Verdana,Tahoma;
    font-size:16px;
}

.imagem-de-fundo{
    background-image: url("../images/imagemDeFundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width:100vw;
}

/*Início cabeçalho*/
.cabecalho{
    width:100%;
    height:60px;
    background-color: rgba(255,255,255,0.4) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:60%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:flex-start;
}

.logo img{
    padding:5px;
    max-width: 60px;
    max-height: 50px;
    width:auto;
    height:auto;
}

.logo span{
    color:#FF0000;
}

/*Início nav bar*/
.menu-navegacao{
    width:30%;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.lista > li > a{
    text-decoration-line: none;
    color: #000000;
}

.lista > li > a{
    padding:10px;
}

.lista > li > a:hover{
    border-radius: 10px;
    background-color:#04707e;
    color:#ffffff;
    cursor:pointer;
}
/*Fim nav bar*/

/*Fim cabeçalho*/


.texto-pesquisa h1{
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
}

.formulario-pesquisa{
    display: flex;
    flex-wrap: wrap;
}


form > #barra-pesquisa{
    background-color: #ffffff;
    width:80%;
    height:3vw;
    margin: 20% 10% 5px;
    text-indent: 5px;
    border:2px solid #a5d0dd;
    border-radius: 10px;
}

form > #botao-pesquisa{
    margin:auto;
    width:150px;
    height: 30px;
    border-radius: 5px;
    border:2px solid #a5d0dd;
}

form > #botao-pesquisa:hover{
    background-color: #04707e; 
    color:white;
    border:2px solid #04707e;
}

@media screen and(max-width:600px){
    form{
        width:90%;
        padding:15px;
    }

    input{
        height:25px;
    }
}