body{
    font-family:Verdana,Tahoma;
    font-size:16px;
}

/*Inicio home*/
.imagem-de-fundo{
    background-image: url("../images/imagemDeFundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width:100vw;
}
/*Fim home*/

/*Inicio Sobre Nos*/
.sobreNosFundo{
    background-image: url("../images/sobreNos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width:100vw;
}

main > .sobreNosApresentacao{
    margin:20px;
    display:flex;
    align-items:center;
}

/*Fim Sobre Nos*/

/*Início cabeçalho*/
.cabecalho{
    width:100%;
    height:60px;
    background-color: rgba(255,255,255,0.4) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:60%;
    display: flex;
    align-items:center;
}

.logo img{
    padding:5px;
    max-width: 60px;
    max-height: 50px;
    width:auto;
    height:auto;
}

.logo span{
    color:#FF0000;
}

/*Início nav bar*/
.menu-navegacao{
    width:30%;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.lista  a{
    text-decoration-line: none;
    color: #000000;
    padding: 10px;
}

.lista a:hover{
    border-radius: 10px;
    background-color:#04707e;
    color:#ffffff;
    cursor:pointer;
}
/*Fim nav bar*/

/*Fim cabeçalho*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:20px;
}

.bordas{
    text-align: center;
    border: solid 2px rgba(0,0,0);
    background-color: rgba(255,255,255,0.3);
    padding: 3px;
}

.negrito{
    font-weight: bold;
}

@media screen and (max-width:480px){
    .cabecalho{
        height: 120px;
        flex-wrap: wrap;
    }

    .logo{
        display: inline-block;
        width: 100vw;
        text-align: center;
    }

    .menu-navegacao{
        width: 100%;
        margin:10px;
    }

    .lista{
        flex-wrap: nowrap;
    }

}