body{
    font-family:Verdana,Tahoma;
    background-color:#b4dce2;
    font-size:16px;
}

/*Início cabeçalho*/
.cabecalho{
    width:100%;
    height:60px;
    background-color:#b2cae7 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:60%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
}

.logo img{
    padding:5px;
    max-width: 60px;
    max-height: 50px;
    width:auto;
    height:auto;
}

.logo span{
    color:#FF0000;
}

/*Início nav bar*/
.menu-navegacao{
    width:30%;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.lista > li > a{
    text-decoration-line: none;
    color: #000000;
}

.lista > li > a{
    padding:10px;
}

.lista > li > a:hover{
    border-radius: 10px;
    background-color:#b4dce2;
    color:#ffffff;
    cursor:pointer;
}
/*Fim nav bar*/

/*Fim cabeçalho*/


.texto-pesquisa h1{
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
}

.formulario-pesquisa{
    display: flex;
    flex-wrap: wrap;
}


form > #barra-pesquisa{
    background-color: white;
    width:80%;
    height:3vw;
    margin: 20% 10% 5px;
    text-indent: 5px;
    border:2px solid #b4dce2;
    border-radius: 10px;
}

form > #botao-pesquisa{
    margin:auto;
    width:150px;
    height: 30px;
}

form > #botao-pesquisa:hover{
    background-color: #b2cae7; 
    color:white;
    border:2px solid #b2cae7;
}

@media screen and(max-width:600px){
    form{
        width:90%;
        padding:15px;
    }

    input{
        height:25px;
    }
}